.main-header {
  background-color: #fff !important;
  color: #61616199 !important;
  box-shadow: unset !important;
  z-index: 1200 !important;

  .header-text {
    font-family: "Roboto", sans-serif !important;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }
}

.header {
  .logo {
    width: 60%;
    height: 100%;
    margin: auto;
    display: block;
    padding: 5px 0;
  }
}
